<h2 class="text-slate-100 font-bold text-lg">Add New Students</h2>
<div class="grid grid-cols-2 gap-10 place-content-stretch">
<div class="flex flex-col flex-wrap">
    <label class="text-slate-400 pt-2" for="new-student-first">Student First Name: </label>
    <input id="new-student-first" #firstName />
    <label class="text-slate-400 pt-4" for="new-student-last">Student Last Name: </label>
    <input id="new-student-last" #lastName />
    <label class="text-slate-400 pt-4" for="new-student-year">Student Year: </label>
    <input id="new-student-year" type="number" #studentYear />
    <label class="text-slate-400 pt-4" for="new-student-balance">Student Balance: </label>
    <input type="number" id="new-student-balance" #balance />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="shadow-sm bg-blue-400 text-slate-100 rounded-full border-2 border-black p-1 m-2 hover:bg-yellow-400" (click)="add(firstName.value , lastName.value, studentYear.valueAsNumber, balance.valueAsNumber);
     "> Add Student</button>
</div>


<div>
    <h2 class="text-slate-100">List Of Current Students:</h2>
    <ul class="text-slate-400 marker:text-slate-100">
        <li *ngFor="let student of students">
            <a class="hover:text-slate-100 hover:text-lg" routerLink="/detail/{{student.studentID}}">
                <span class="badge">{{student.studentID}}</span> {{student.firstName}}
            </a>
            <button type="button" class="text-sm shadow-md shadow-slate-400/10 bg-blue-400 text-slate-100 rounded-full border-2 border-black p-1 hover:bg-red-600" title="delete student"
                (click)="delete(student)">Delete</button>
        </li>
    </ul>
</div>
</div>