<h2>Student Database</h2>

<div>
    <label for="new-student-first">Student name: </label>
    <input id="new-student-first" #firstName />
    <label for="new-student-last">Student Last Name: </label>
    <input id="new-student-last" #lastName />
    <label for="new-student-year">Student Year: </label>
    <input id="new-student-year" type="number" #studentYear />
    <label for="new-student-balance">Student Balance: </label>
    <input type="number" id="new-student-balance" #balance />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(firstName.value , lastName.value, studentYear.valueAsNumber, balance.valueAsNumber);
     "> Add Student</button>



<div>
    <ul class="students">
        <li *ngFor="let student of students">
            <a routerLink="/detail/{{student.studentID}}">
                <span class="badge">{{student.studentID}}</span> {{student.firstName}}
            </a>
            <button type="button" class="delete" title="delete student"
                (click)="delete(student)">x</button>
        </li>
    </ul>
</div>
