<h2>Student Database</h2>
<div><span>id: </span>{{student.id}}</div>
<div><span>First Name: </span>{{student.firstName | uppercase}}</div>
<div><span>Last Name: </span>{{student.lastName | uppercase}}</div>
<div><span>Student Year: </span>{{student.studentYear}}</div>
<div><span>Student Balance: </span>{{student.balance}}</div>

<div>
    <label for="firstname">Student first name:</label>
    <input id="firstname" [(ngModel)]="student.firstName" placeholder="name">
    <label for="lastname">Student last name:</label>
    <input id="lastname" [(ngModel)]="student.lastName" placeholder="name">

    <label for="studentyear">Student year: </label>
    <input id="studentyear" [(ngModel)]="student.studentYear" placeholder="studentyear">
</div>

<div>
    <ul class="students">
        <li *ngFor="let student of students">
            <button [class.selected]="student === selectedStudent" type="button" (click)="onSelect(student)">
                <span class="badge">{{student.id}} </span>
                <span class="name">{{student.firstName}}</span>
            </button>
        </li>
    </ul>
</div>

<app-student-detail [student]="selectedStudent"></app-student-detail>
