<button type="button" (click)="goBack()">Go Back</button>
<div *ngIf="student">
    <h2>{{student.firstName | uppercase}} Details</h2>
    <div><span>id: </span>{{student.studentID}}</div>
    <div>
        <label for="student-firstname">Student firstname: </label>
        <input id="student-firstname" [(ngModel)]="student.firstName" placeholder="name">
    </div>
    <div>
        <label for="student-lastname">Student lastname: </label>
        <input id="student-lastname" [(ngModel)]="student.lastName" placeholder="name">
    </div>
    <div>
        <label for="student-year">Student year: </label>
        <input id="student-year" [(ngModel)]="student.studentYear" placeholder="0">
    </div>
    <div>
        <label for="balance">Student balance: </label>
        <input id="balance" [(ngModel)]="student.balance" placeholder="0">
    </div>
    <button type="button" (click)="save()">Save</button>
</div>